requests==2.20.0
Jinja2==2.10.1
urllib3==1.23
chardet==3.0.4
certifi==2017.7.27.1
idna==2.6
appdirs==1.4.3

-e git://github.com/StephenChamberlain/steamapi.git@master#egg=steamapi
-e git://github.com/StephenChamberlain/steam-career.git@master#egg=steamcareer