requests==2.25.1 
Jinja2==2.11.3
urllib3==1.26.5
chardet==3.0.4
certifi==2017.7.27.1
idna==2.6
appdirs==1.4.4

-e git://github.com/StephenChamberlain/steamapi.git@master#egg=steamapi
-e git://github.com/StephenChamberlain/steam-career.git@master#egg=steamcareertest