<!DOCTYPE html>
<html>
<head>
	<title>Steam Career</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link rel="stylesheet" href="styles.css">
</head>

{% macro game_logo(game) -%}
<img src="http://media.steampowered.com/steamcommunity/public/images/apps/{{game.appid}}/{{game.img_logo_url}}.jpg" />
{%- endmacro %} 

{% macro game_icon(game) -%}
<img src="http://media.steampowered.com/steamcommunity/public/images/apps/{{game.appid}}/{{game.img_icon_url}}.jpg" />
{%- endmacro %} 

{% macro top_three_label(index) -%} 
	{% if index == 1 %}
	Most 
	{% elif index == 2 %} 
	Second most 
	{% elif index == 3 %} 
	Third most
	{% endif %} 
	played game: 
{%- endmacro %} 

{% macro game_name(game) -%}
{{game.name | replace("™","&trade;") | replace("®","&reg;") | safe}} 
{%- endmacro %}

<body class="body">
	<div class="container">
		<p style="text-align: center">{{(playerData.total_hours_played) | abs | int}}
			hours spent playing {{playerData.nr_actually_played_games}} games out of a
			collection of {{playerData.games | length}} games</p>
		<p>
		<ul>
			<hr>
			{% for game in playerData.games %} 
				{% if loop.index in [1,2,3] %}
				<li style="text-align: center">
					{{game_logo(game)}}<br /> 
					<h{{loop.index}}>{{top_three_label(loop.index)}}<br />
					{{game_name(game)}}<br />
					<span class="hours">({{(game.playtime_forever / 60) | abs | int}} hours)</span></h{{loop.index}}>
				</li>
				<hr>
				{% elif (game.playtime_forever / 60) > 1 %}
				<li>
					{{game_icon(game)}} {{game_name(game)}} 
					<span class="hours">({{(game.playtime_forever / 60) | abs | int}} hours)</span>
				</li> 
				{% elif game.playtime_forever > 1 %}
				<li>
					{{game_icon(game)}} {{game_name(game)}} <span class="hours">({{game.playtime_forever | abs | int}} minutes)</span>
				</li> 
				{% else %}
				<li class="never-played">
					{{game_icon(game)}} {{game_name(game)}} (never played)
				</li> 
				{% endif %} 
			{% endfor %}
		</ul>
		</p>
	</div>
</body>
</html>
