<!DOCTYPE html>
<html>
<head>
	<title>Steam Career</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link rel="stylesheet" href="styles.css">
</head>

{% macro game_name(game) -%}
{{game.name | replace("™","TM") | replace("®","reg") | replace("'","") | safe}} 
{%- endmacro %}

<body class="body">
	<div id="piechart" class="container"></div>

	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

	<script type="text/javascript">
	// Load google charts
	google.charts.load('current', {'packages':['corechart']});
	google.charts.setOnLoadCallback(drawChart);

	// Draw the chart and set the chart values
	function drawChart() {
		var data = google.visualization.arrayToDataTable([
		  ['Game', 'Link', 'Hours'],
		  {% for game in (playerData.games [:10]) %}
		  {% if game.playtime_forever > 60 %}
		  ['{{game_name(game)}}','https://store.steampowered.com/app/{{game.appid}}/', {{(game.playtime_forever / 60) | abs | int}}],
		  {% endif %}
		  {% endfor %}]);

  		var view = new google.visualization.DataView(data);
        view.setColumns([0, 2]);

		// Optional; add a title and set the width and height of the chart
		var options = {'title':'Time breakdown (Top 10)', 'width':800, 'height':600, is3D:true};

		// Display the chart inside the <div> element with id="piechart"
		var chart = new google.visualization.PieChart(document.getElementById('piechart'));		
		chart.draw(view, options);
		
        var selectHandler = function(e) {
        	window.open(data.getValue(chart.getSelection()[0]['row'], 1), '_blank');
        }
        
		// Add our selection handler.
        google.visualization.events.addListener(chart, 'select', selectHandler);
	}
	</script> 
</body>
</html>