<!DOCTYPE html>
<html>
<head>
	<title>Steam Career</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link rel="stylesheet" href="styles.css">
</head>
<body class="body">
	<div class="panel-heading">
		<p>
			<img src="{{playerData.user.avatar_medium}}" /> {{playerData.user.name.upper()}}'S STEAM CAREER
		</p>
		<p>Generated {{playerData.timestamp}}</p>
	</div>
</body>
</html>