<!DOCTYPE html>
<html>
<head>
	<title>Steam Career</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link rel="stylesheet" href="styles.css">
</head>
<body>
	<div class="iframe-container">
		<iframe name="header" src="header.html" frameborder="0" style="height: 20vh;"></iframe>
		<iframe name="content" src="career.html" frameborder="0" style="height: 80vh;"></iframe>
	</div>
</body>
</html>