<!DOCTYPE html>
<html>
<head>
	<title>Steam Career</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link rel="stylesheet" href="styles.css">
</head>

{% macro game_name(game) -%}
<a href="https://store.steampowered.com/app/{{game.appid}}/" target="_blank">
{{game.name | replace("™","&trade;") | replace("®","&reg;") | safe}}</a> 
{%- endmacro %}

{% macro game_price(game) -%}
{% set price = playerData.price_map[game.id] %}
{% if price == 'unknown' %}
Unknown
{% else %}
{{format_price(playerData.price_map[game.id])}}
{% endif %}
{%- endmacro %}

{% macro format_price(price) -%}
{{playerData.currency_char}}{{"{:,.2f}".format(price)}}
{%- endmacro %}

<body class="body">
	<div class="container">
        <p style="text-align: center">
            On {{playerData.timestamp}} your collection was priced on Steam at {{format_price(playerData.total_value)}}
        </p>
        <hr>
        <table>
        {% for game in playerData.games %} 
            <tr>
                <td>{{game_name(game)}}</td>
                <td class="price">{{game_price(game)}}</td>
            </tr>
        {% endfor %}
        </table>
	</div>
</body>
</html>        