hr {
	border-color: #42AEF4;
}

ul {
	list-style-type: none;
}

table {
	width: 100%;
}

td.price {
	text-align: right;
}

img {
	align: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	margin-left: auto;
	margin-right: auto;
}

.iframe-container {
	overflow: hidden;
}

iframe {
    display: block;       /* iframes are inline by default */
    border: none;         /* Reset default border */
	border-style: none;
	overflow: hidden;
    width: 100vw;
}

.panel-heading {
	background-color: #171A21;
	color: #C4C1BF;
	text-align: center;
	vertical-align: middle;
}

.header-link {
	margin-left: 2em;
	margin-right: 2em;	
}

.body {
	background-color: #1B2838;
	color: #98B8CB;
}

.container {
	max-width: 600px;
	padding-top: 50px;
}

.hours {
	color: #42AEF4;
}

.never-played {
	color: #20476F;
}

#piechart text {
     fill: #C4C1BF !important;
}

#piechart svg > rect {
    fill: #1B2838;
}